body {
  font-family: 'Courier New', Courier, monospace;
  margin: 50px;
  background-color: #28421d;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}

/* This defines what aspects this "block" refers to
in this case the styling is applied to the nav,header,main and footer elements */
header,
footer {
  padding: 10px;
  padding-top: 0;
  max-width: max-content;
}

#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#hoverContent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 25%;
  height: auto;
  /* children are in a flex col */
  display: flex;
  border: 5px solid white;
  flex-direction: column;
  text-align: center;
  /* dont block hover */
  pointer-events: none;
  background-color: #28421d;
}

#hoverImg {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}
a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  white-space: pre;
  color: white;
}

#house:hover {
  border-color: white;
}

#horizontalLine {
  width: 100%;
  background-color: white;
  height: 1px;
}

#house {
  border: 5px solid;
  border-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
  padding: 1rem;
  border-style: dashed;

  max-height: fit-content;
  max-width: fit-content;
  text-align: center;
  white-space: pre;
}

#mainContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  row-gap: 0.1rem;
  column-gap: 10rem;
  padding: 10px;
}
